<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container-sm">
    <!--Navbar-->
    <nav class="navbar navbar-default bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="productlistings">Product Listings</a>
                {% if userIsSeller == True %}
                    <a class="navbar-brand" href="publishproductlisting">Publish Product Listing</a>
                {% endif %}
            </div>
            {% if userLoggedIn == True %}
            <div class="navbar-header-right">
                <a style="text-align: right;" class="navbar-brand" href="profile">Profile</a>
                <a style="text-align: right;" class="navbar-brand" href="logout">Logout</a>
            </div>
            {% else %}
            <div class="navbar-header-right">
                <a style="text-align: right;" class="navbar-brand" href="login">Login</a>
            </div>
            {% endif %}
        </div>
    </nav>

    <label for="Category">Choose a Category:</label>
    <form method="POST">
        <select name="Category" id="Category">
            {% for item in categoryList %}
                <option value="{{item}}">{{item}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="Filter" value="Filter">
        <input type="submit" name="Reset" value="Reset">
    </form>
    {% for product in productList %}
        <p><b>Seller Email:</b> {{product[0]}} <b>Listing_ID</b> {{product[1]}} <b>Category:</b> {{product[2]}} <b>Title:</b> {{product[3]}} 
            <b>Product Name:</b> {{product[4]}} <b>Product Description:</b> {{product[5]}} <b>Price:</b> {{product[6]}} <b>Quantity</b> {{product[7]}}</p>
        <form method="POST" action="/product">
            <button name="View" value="{{product[1]}}" type="submit">View</button>
        </form>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>