<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-default bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="productlistings">Product Listings</a>
                {% if userIsSeller == True %}
                    <a class="navbar-brand" href="publishproductlisting">Publish Product Listing</a>
                {% endif %}
            </div>
            {% if userLoggedIn == True %}
            <div class="navbar-header-right">
                <a style="text-align: right;" class="navbar-brand" href="profile">Profile</a>
                <a style="text-align: right;" class="navbar-brand" href="logout">Logout</a>
            </div>
            {% else %}
            <div class="navbar-header-right">
                <a style="text-align: right;" class="navbar-brand" href="login">Login</a>
            </div>
            {% endif %}
            
        </div>
    </nav>

    <div class="profile.html website">
        <div>
            <ul>
                <p>Email: {{data[0]}}</p>
                <p>First Name: {{data[1]}}</p>
                <p>Last Name: {{data[2]}}</p>
                <p>Gender: {{data[3]}}</p>
                <p>Age: {{data[4]}}</p>
                <p>Home Address ID: {{data[5]}}</p>
                <p>Home Address Zipcode: {{data[7]}}</p>
                <p>Home Address Street Number: {{data[8]}}</p>
                <p>Home Address Street Name: {{data[9]}}</p>
                <p>Billing Address ID: {{data[6]}}</p>
                <p>Billing Address Zipcode: {{data[10]}}</p>
                <p>Billing Address Street Number: {{data[11]}}</p>
                <p>Billing Address Street Name: {{data[12]}}</p>
                <p>Credit Card: XXXX-XXXX-XXXX-{{data[13]}}</p>
            </ul>
            <form method="POST" action="/profile">
                <table align = "center" border="0" width="300">
                    <tr> <!--tr is a table row that holds data inside table cells (td)-->
                        <td>Current Password</td>
                        <td><input type="text" name="currentpassword" size="20"></td>
                    </tr>
                    <tr>
                        <td>New Password</td>
                        <td><input type="text" name="newpassword" size="20"></td>
                    </tr>
                    <tr>
                        <td>Retype New Password</td>
                        <td><input type="text" name="newpasswordretype" size="20"></td>
                    </tr>
                    <tr>
                    <td></td>
                    <td align = "center"><input type="submit" value="Change"
                        name="submit"></td>
                    </tr>
                    {% if changePassAttempt == True %}
                        <tr>
                            <td>{{attemptSuccess}}</td>
                        </tr>
                    {% endif %}
                </table>
            </form>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>